@import "../../styles/variables.scss";

.titulo-form{
    color: grey;
    font-size: 2rem;
    text-align: center;
}

.contenedor-form{
    background-color: #fff;
    width: 75%;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    .formulario{
        margin-top: 4rem;
    }
    label, input, textarea{
        font-size: 1.7rem;
    }
    label{
        color: rgb(107, 107, 107);
    }
    .campo{
        margin-top: 2.5rem;
    }
    .input{
        display: block;
        width: 100%;
        margin: 1rem 0;
        border: none;
        background-color: rgba(243, 240, 240, 0.856);
        border-radius: 6px;
        padding: 0.5rem 2rem;
    }
    .textarea{
        height: 10rem;
    }
    .btn--form{
        display: block;
        width: 100%;
        background-color: $primario;
        border: none;
        padding: 1rem;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
    }
}