@import "../../styles/variables.scss";

.grid{
    display: grid;
    grid-template-columns: 35rem 1fr;
    .grid__aside{
        position: relative;
        background-color: $primario;
        height: 100vh;
        padding: 2rem;
    }
    .aside--fixed{
        position: fixed;
    }
    .aside--titulo{
        font-size: 3rem;
        text-align: center;
        color: #fff;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        row-gap: 1rem;
        .active{
            color: rgb(159, 159, 252);
        }
    }
    .grid__tarea{
        padding: 2rem;
        background-color: rgba(133, 130, 130, 0.13);
    }
}